
.experience-bar {
    position: absolute;
    bottom: .5%;
    width: 600px;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 0 6px #0c3e3e;
    background: #88c4be;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .stripe {
        border-radius: 5px;
        width: 95%;
        height: 20px;
        box-shadow: 0 0 3px #1f615f;
        border: 1px solid #1f615f;
        background: #d4f4f0;

        .inner-stripe {
            height: 100%;
            box-shadow: 0 0 3px #1f615f;
            background-color: #1f615f;
            transition: width .3s ease;
        }
    }
}