
.experience-bar {
    position: absolute;
    bottom: .5%;
    width: 600px;
    border-radius: 10px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background: rgba(61, 155, 230, 0.71);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .stripe {
        border-radius: 5px;
        width: 95%;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.35);

        .inner-stripe {
            height: 100%;
            background-color: rgba(255, 255, 255, 0.35);
        }
    }
}