@import "./static/fonts/bubble-bobble-font/BubbleFont.css";

body {
  margin: 0;
  width: 100%;
  height: 100vh;

  .root {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(136,196,190,.8) 0%, rgba(136,196,190,1) 40%, rgba(212,244,240,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.playground {
  position: absolute;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  transition: all .7s linear;
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.bubble-wrap {
  position: absolute;
  box-sizing: content-box;
  transform: translate(-50%, -50%);
}

.base-bubble-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.gun {
  transform: translate(-50%, -50%);
  position: absolute;
  box-sizing: content-box;
}

.tank-wrap {
  box-sizing: content-box;
  position: absolute;
  transition: left .05s linear, top .05s linear;
  z-index: 10;
}


.enemy-wrap {
  box-sizing: content-box;
  position: absolute;
}

.anim-run {
    transition: all 0.5s ease;
    animation: run .5s linear infinite;

  @keyframes run {
    0% {
      left: 12px;
    }
    50% {
      left: -12px;
    }
    100% {
      left: 12px;
    }
  }
}